<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>697781671718-te6usudco0n3omtoorr07b6ofq3eqalk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.697781671718-te6usudco0n3omtoorr07b6ofq3eqalk</string>
	<key>API_KEY</key>
	<string>AIzaSyAi6t2ZicH5zUaSXp4mVspsaomQhry5JXc</string>
	<key>GCM_SENDER_ID</key>
	<string>697781671718</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.coffeebro</string>
	<key>PROJECT_ID</key>
	<string>coffebro-85c7d</string>
	<key>STORAGE_BUCKET</key>
	<string>coffebro-85c7d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:697781671718:ios:c254b88e0a83f04beb53e7</string>
</dict>
</plist>